:root{
    font-family: 'Merienda One', cursive; 
    font-size: 16px;
    height: 100vh;
    --text-primary: #f3d1d1;
    --text-secondary: #ececec;
    --bg-primary: #d4d4e4;
    --bg-secondary: #141418;
    --transition-speed: 600ms;

}
body{
    color: black;
    background-color: rgb(245, 240, 240);
    margin: 0;
    padding: 0;
    
}


/* navigation bar */
.nav-bar{
 display: flex;
/* position: absolute; */
width: 411px;
height: 118px;
left: 0px;
top: 0px;
justify-content: center;
background: #FFFFFF;
box-shadow: -8px 7px 32px rgba(255, 10, 10, 0.25);
}
.nav-bar h1{
position: absolute;
width: 175px;
height: 50px;
left: 27px;
top: 14px;
font-family: Merienda One;
font-style: normal;
font-weight: normal;
font-size: 33px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;
justify-content: flex-start;
color: #000000;
}
.nav-bar nav{
    position: absolute;
width: 128.5px;
height: 90px;
left: 271px;
top: 17px;

background: #FFFFFF;
}
.nav-bar ul{
    display: flex;
    width: 117px;
    height: 30px;
    left: 276px;
    
    justify-content:space-between;
    padding: .5rem;
}
.nav-bar li{
    display: flex;
}
.nav-btn{
    background-color: transparent;
    border-color: transparent;   
}
/* drop down */
.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 350px;
    left: -85px;
    top: 101px;

    transform: translateX(-45%);
    background-color:white;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 14px;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  .dropdown p{
     margin: 8px;
  }
  .dropdown span{
      /* display: flex; */
      justify-content: flex-end; 
      transform: translateY(-25px);
 }
 .arrow{
     display:flex; 
 }
/* Search bar */
.search-overlay{
    display: flex;
   justify-content: center;
    position: absolute;
    align-items: center;
    height:30vh;
    transform: translate(-81.7%,-10%);
    background-color:rgb(0, 0, 0);
    opacity: 75%;
    padding: 6.6rem;
    padding-top: 30vh;
    padding-bottom: 50vh;
    margin: 1rem;
    transition: height var(--speed) ease;
    
}
.del-btn{
  border-color: transparent;
  background-color:rgb(0, 0, 0); 
  color: white;
}

.search-text{
    background: transparent;
    border: transparent ;
    border-bottom: 2px solid #ff91a4;
    color: white;
    

}
.search-text:focus{
    border-color: transparent ;
}
::placeholder { 
    color: white;
    font-weight: bold;
    opacity: 1; 
  }
  
/* title picture container */
.pic-container{
    display: flex;
    flex-direction: column;
    width: 411px;
    height: 118px;
    background-color: rgb(223, 238, 248);

}
.image-card{
    display: flex;
    flex-direction: column;
    width: 411px;
    height: 118px;
    background-image: url(./images/title-img.jpg);
    background-size:411px;
    background-blend-mode: overlay;
}

/* Speciality */
.container{
    display: flex;
    width: 411px;
    height: 786px;
    transform: translateY(118px);

}
/* Scroll up */
.page-up{
    display:flex;
    left: 100px;
}