/* Css of all Components and Pages */
:root{
    font-family: 'Merienda One', cursive; 
    font-size: 16px;
    height: 100%;
    

    --text-primary: #f3d1d1;
    --text-secondary: #ececec;
    --bg-primary: #white;
    --bg-secondary: #141418;
    --transition-speed: 900ms;

}

*, *:before, *:after {
    box-sizing: border-box;
   
  }
html,body{
    color: black;
    max-width: 100%;
    margin: 0;
    padding: 0;
 
}

/* scroll error */
.sc-hKFxyN gXEQKd rec rec-slider{
    max-width: 100%;
    overflow-x: hidden;
}

/* // NAVIGATION BAR // */

.nav-bar{
display: flex;
width: 100%;
height: 118px;
left: 0px;
top: 0px;
justify-content: center;
background: #FFFFFF;
/* overflow-x: hidden; */
}
.text-title{
position: absolute;
width: 175px;
height: 50px;
left: 27px;
top: 28px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;
justify-content: flex-start;

}
.nav-bar nav{
position: absolute;
width: 12.28px;
height: 90px;
margin-left: 30vw;
top: 17px;

background: #FFFFFF;
}
.nav-bar ul{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content:space-between;
    padding: .5rem;
}
.nav-bar li{
    display: flex;
}
.nav-btn{
    background-color: transparent;
    border-color: transparent;   
   
}
.cart-item{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 250px;
    left: -135px;
    top: 46px;
    z-index: 100;
    transform: translateX(-45%);
    background-color:white;
    padding: 14px;
    transition: height var(--speed) ease;
    border: 2px solid rgba(0, 128, 0, 0.253);
    border-radius: 10px;
}

.menu-uni {
    display: block;
    position: relative;
    font-size: 8px;
    transform: translate(5px,7px);
    animation: turntwo .3s ease-out forwards ;
}
.menu-uni-open{
    display: block;
    position: relative;
    font-size: 10px;
    animation: turn .5s ease-out forwards;
}
  .menu-uni,
  .menu-uni::before,
  .menu-uni::after{
    width: 2em;
    height: 2px;
    background: black;
    transition: transform 350ms ease-in-out, opacity 200ms linear;
  }
  .menu-uni-open,
  .menu-uni-open::before,
  .menu-uni-open ::after{
    width: 2em;
    height: 2px;
    background: black;
    /* transition: transform 350ms ease-in-out, opacity 200ms linear; */
  }
  @keyframes turn{
    from{opacity: 0.7;
        transform: translateY(7px) rotate(0deg);
    }
    to{
        opacity: 1;
        transform:  translateY(7px) rotate(45deg);
    }
  }
  @keyframes turntwo{
    from{opacity: 0.7;
        transform: translateY(7px) rotate(245deg);
    }
    to{
        opacity: 1;
        transform:  translateY(7px) rotate(0deg);
    }
}
  .menu-uni::before,
  .menu-uni::after ,
  .menu-uni-open::before,
  .menu-uni-open::after{
    content: '';
    position: absolute;
    left: 0;
  }
  .menu-uni::before,
  .menu-uni-open::before { bottom: 6px; }
  .menu-uni::after,
  .menu-uni-open::after{ top: 6px;}
  
   .menu-uni-open{
    transform:  rotate(45deg);
  }
   .menu-uni-open::before {
    opacity: 1;
    transform: rotate(90deg) translate(6px);
  }
  
/* drop down */
.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 24rem;
    margin-left:-165px;
    top: 101px;
    z-index: 100;
    transform: translateX(-45%);
    background-color:white;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 14px;
    animation: trans 1s ease-out forwards;
  }

  @keyframes trans{
    0%{ opacity: 0;
        background-image: linear-gradient(white, transparent);   
    }
    100%{ opacity: 1;
       background-color: white;
    }
}

  .parent :first-child{
      text-decoration: none;
      color: black;
  }
  .parent :first-child:active{
    color: #5FCAC7;
  }
  .parent :first-child:hover{
    color: #5FCAC7;
  }
  .dropdown p{
     z-index: 100;
     margin: 8px;
  }
  .dropdown span{
      width: 30px;
      justify-content: flex-end; 
      transform: translate(300px,-25px);
   
 }
 .arrow{
     display:flex;
      
 }
 .arrow button svg:hover{
     cursor: pointer;
 }

 .arrow button svg{
     animation: rot 2s ease forwards;
 }
 @keyframes rot{
     from{
        transform: rotate(0deg);
     }
     to{
        transform: rotate(90deg);
     }
 }

 .list{
     display: flex;
     flex-direction: column;
 }
 .list *{
    text-decoration: none;
    color: black;
}
.list *:active{
  color: #5FCAC7;
}
.list *:hover{
  color: #5FCAC7;
}

/* //SEARCH BAR// */
.search-overlay{
    display: flex;
   justify-content: center;
    position: fixed;
    align-items: center;
    z-index: 101;
    height:110%;
    transform: translate(-81.7%,-10%);
    background-color:rgb(0, 0, 0);
    opacity: 0.75;
    padding: 6.9rem;
    padding-top: 30vh;
    padding-bottom: 50vh;
    margin-left: 2rem;
    transition: height var(--speed) ease;
    overflow-x: hidden;
    
}
.del-btn{
  border-color: transparent;
  background-color:rgb(0, 0, 0); 
  color: white;
}

.search-text{
    background: transparent;
    border: transparent ;
    border-bottom: 2px solid #ff91a4;
    color: white;
    

}
.search-text:focus{
    border-color: transparent ;
}
::placeholder{ 
    font-weight: bold;
  }
  
/* title picture container */
.pic-container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 182px;
    background-color: rgb(223, 238, 248);
    /* overflow-x: hidden; */

}
.image-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 162px;
    background-image: url(./icons/headerbg.jpg);
    background-size:411px 175px;
    opacity: 0.75;
    animation: parallax 4s ease forwards;
}
.image-card-title{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 162px;
  
    background-size:cover;
    opacity: 0.75;
  
    transform: translate(0px,-80px);
    animation: parallax 3s 1s ease forwards;
}


@keyframes parallax{
    from{
        opacity: 0.5;
        transform: scale(1.5);
        
    }
    to { 
        opacity: 1;
        transform: scale(1);
    }
}

.icon-logo{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 182px;
    background-image: url(./images/slider_bg_1.png);
    background-position:center;
    background-size: 150px;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    animation:late 4s  ease;
}
@keyframes late{
    from{opacity: 0;}
    to{
        opacity: 1;
    }
}
.icon-text{
    display: flex;
    justify-content: center;
    font-size: 12px;
    transform: translate(0px,65px);
    max-height: 15px;
}

/* Speciality */
.spl-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 786px;
    transform: translateY(-25px);
    background-image: url(./images/whitebgnd.jpg);
    background-repeat: repeat-x;
    background-size:cover;
    background-position-x: -500px;
    background-blend-mode: overlay; 
    background-color: #dbdada;
    clip-path: url(#toponebg);
    overflow-x: hidden;

}
.header-img{ display: flex;
   transform: translateY(80px);
    width: 221px;
    height: 41px;
}
.header{
    display: flex;
  
    transform: translateY(30px);
    font-size: 48px;
    max-height: 182px;

}

.carousel-wrapper {
    display: flex;
    transform: translateY(20px);
    justify-content: center;
    width: 100%;
  }
.card{
    display: flex;
    min-width: 280px;
    flex-direction: column;
    align-items: center;

}
.card img{
    display: flex;
    width:180px ;
    height: 180px;
}
.card h1{
    margin-top: 5px;
}
.card p{
    margin-left: 10px;
   font-size: 17px;
}
.ejXxNI{
    color: pink;
    box-shadow:transparent;
}

/* // Scroll up // */
.page-up{
    /* display:flex; */
    z-index: 100;
    position: fixed;
    margin-top:80vh;
    margin-left:75vw;
}
.page-up svg path:hover{
   opacity: 0;
   transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Content */
.cont-container{ 
    display: flex;
    flex-direction: column;   
    position: relative;
    width: 100%;
    height: 855px;
     transform: translateY(-160px); 
    align-items: center;
    margin: 70px 0px;
    clip-path: url(#topbg);
    /* clip-path: url(#botbg); */
}
.cont-container::after{
    position: absolute;
   clip-path: url(#botbg);

}
 .cont-container::before{
    position: absolute; 
    content: '';
    background-image: url(./images/greenbg.jpg);
    background-position-x: -710px,0px; 
    background-position-y: -20px,0px;
    background-blend-mode: screen;
    width: 100%;
    height: 800px; 
} 
.bg-overlay{
    display: block;
    position: absolute;
    opacity: 0.95;
    background-color: rgba(67,183,156,0.8);
    background-blend-mode: screen;
    width: 100%;
    height: 800px;
}

.heart{
    z-index: 100;
    display: flex;
    transform: translate(0px,40px);
    width: 120px;
    height: 120px;
}
.cont-container h1{
    z-index: 100;
    display: flex;
    justify-content: center;
    text-align: center;
    transform: translateY(0px);
    margin-left: 5px;
    color: white;
    font-size: 65px;
}
.cont-container p{
    z-index: 100;
    max-width:100% ;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 5px;
    transform: translateY(-20px);
    color: white;
    font-weight: lighter;
}
.cont-container button{
    z-index: 100;
    display: flex;
    transform: translate(0px,20px);
    background-color: transparent;
    border:3px solid white;
    border-radius: 50px;
    width: 15rem;
    justify-content: center;
    padding: 8px;
    color: white;
    transition: height var(--speed) ease;

}
.cont-container button >:only-child{
   position: absolute;
   transform: translate(-2px,-25px);
}
.cont-container button:hover{
    background-color: white;
    color: black;
}
/* Creation */
.show-container{
    position: relative;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    transform: translateY(-284px);
    overflow: hidden;
}
.show-grid{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    row-gap: 1em;
    width: 100%;
}
.show-img{
    z-index: 98;
    border: 2px transparent;
    border-radius: 10px;
   max-width:390px;
   max-height:390px;
   width: auto;
   height: 320px;
   /* margin-left: 10px; */
}
.invisible{
    z-index: 100;
    background-color:transparent;
    border-color: transparent;
}

.show-inside{ display: block;
    position: absolute;
    z-index: 101;
    transform: translateY(-330px);
}

.show-inside p{ 
   transform: translate(130px,-190px);
} 
.show-inside img{ 
    transform: translate(45px,0px);

 } 
 /* Contenttwo */
.cont-containertwo{
    display: flex;
    flex-direction: column;
    background-image: url(./images/contentbg2.jpg); 
    background-size: cover;
    background-blend-mode: screen;
    width: 100%;
    height: 1100px;
    background-position-x:0px,50px;
    background-position-y: 0px,0px;
    clip-path:url(#topbg);
    overflow: hidden;

    
}

.cont-containertwo span{
    display: flex;
    flex-direction: column;
    transform: translate(0px,60px);
    height: 230px;
}
.cont-containertwo span >:first-child{
  transform: translate(180px,0px);
  min-height:63px ;
 }

.cont-containertwo p{
    display: flex;
    justify-content: center;
    /* margin-left: 20px; */
    text-align:center;
   font-size: 16px;
   font-weight: lighter;
    color: white;
}
.cont-containertwo h2{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 30px;
    font-weight: normal;
    color: white;
}
.cont-containertwo button{
    display: flex;
    transform: translate(90px,80px);
    background-color: transparent;
    border:3px solid white;
    border-radius: 50px;
    width: 15rem;
    justify-content: center;
    padding: 8px;
    color: white;
    transition: height var(--speed) ease;

}
.cont-containertwo button >:only-child{
    position: absolute;
    transform: translate(-2px,-25px);
 }
.cont-containertwo button:hover{
    background-color: white;
    color: black;
}

/* recipies */
.rep-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 586px;
    background-color:white ;
    overflow: hidden;
 
}
.cardpic{
    display: flex;
    min-width: 280px;
    flex-direction: column;
    align-items: center;

}
.cardpic img{
    display: flex;
    width:380px ;
    height: 180px;
}
.rep-container > img{ 
  transform: translate(100px,90px);
}

.rep-container > h1{ 
    display: flex;
    justify-content: center;
    transform: translate(0px,90px);
}

/* Client */
.client-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 586px;
    background-color:#ff91a4 ;
    clip-path:url(#topbg);
    overflow: hidden;
 
}
.client-container p{
    transform: translateY(40px);
    color: white;
    margin-left: 10px;
   font-size: 16px;
   text-align: center;
}
.client-pic :nth-child(3){
    transform: translateY(10px);
}
.client-container  h1{ 
    display: flex;
    justify-content: center;
    color: white;
}
.client-pic{
    display: flex;
    min-width: 300px;
    flex-direction: column;
    align-items: center;

}
.client-pic img{
    display: flex;
    width:100px ;
    height: 100px;
    border-radius: 50px;
    transform: translateY(30px);
}

/* Prices */
.price-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 1600px;
    height: auto;
    background-color:white ;
    overflow: hidden;
 
}

.price-container h1{
    display: flex;
    justify-content: center;
}
.price-container >:nth-child(3){
    display: flex;
    justify-content: center;
    transform: translateY(50px);
}
.price-container span{
    display: flex;
    flex-direction: column;
    height: 520px;
    margin: 114.281px 14.5px 14.281px 14.5px;
    border:3.5px solid #5fcac7;
    border-radius: 10px;
}

.price-container h2{
    display: flex;
    justify-content: center;
    transform: translate(0px,-170px);
    color: white;
    
}
.price-container p{
    display: flex;
    justify-content: center;
    transform: translate(0px,-130px);
    font-size: 35px;
    font-weight: bold; 
}

.price-container ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(60px,-140px);
    font-size: 17px;
    list-style-type: none;
}

.svg-bg{
    transform: translate(0.5px,-9px);

}
.svg-bg2{
    transform: translate(0.5px,6px);

}
.donut-bg{
    overflow-x: hidden;
    z-index: 100;
    position: absolute;
    transform: translate(95px,-130px);

}
.donut-bg2{
    overflow-x: hidden;
    z-index: 100;
    position: absolute;
    transform: translate(95px,-330px);

}
.price-container button{
    display: flex;
    transform: translate(70px,-70px);
    background-color: transparent;
    border:3px solid black;
    border-radius: 50px;
    width: 15rem;
    justify-content: center;
    padding: 8px;
    color: black;
    transition: height var(--speed) ease;

}
.price-container button >:only-child{
    position: absolute;
    transform: translate(-2px,-25px);
 }
.price-container button:hover{
    background-color: black;
    color: white;
}
/* Follow Section */
.mail-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 786px;
    background-color:#554845 ;
    clip-path: url(#topbg);
 
}
.Svg{
    position: absolute;
}
.mail-field{
    display: flex;
    justify-content: center;
    transform: translateY(505px);
    
}
.header-mail{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;

}
.soc-row{
    display: flex;
    transform: translate(0px,60px);

}
.soc-row img{
    width: 100%;
}
.soc-btn{
    transform: translateY(-80px);
    display: flex;
    margin:auto;
    padding: 1em;
    border:1px solid transparent;
    border-radius: 50px;
}

/* footer */
.footer{display:flex;
    width: 100%;
    height: 15vh;
    background-color: #3f3937 ;
    clip-path: url(#toponebg);
    margin-top: -3px ;
}
.footer-text{display: flex;
transform: translateX(60px);
align-items: center;
font-size: 14px ;
color: white;
}
/* // Other Pages // */

/* // Slab// */
.slab-container{display: flex;
    flex-direction: column;
    width: 100%;
    height: 340px ;
    background-image: url(./images/slabbg.jpg);
    background-size: cover;
    background-position-x: -580px;
    opacity: 0.9;
    transform: translateY(6px);
   

}
.slab-container h1{display: flex;
  justify-content: center;
  color: white;
  margin: auto;
  margin-bottom: 20px;
  font-size: 50px;
}
.slab-container p{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    margin-bottom: auto;
}
/* //Conact pg */
.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-container span{
    text-align: center;
    margin: 5px;
    font-weight: lighter;
   color: gray;
}

.contact-col-send {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.contact-col-send input{
    margin: 1rem;
}
.contact-col h4{
    text-align: center;
}
.contact-col p{
    margin-top: 0px; 
    text-align: center;
}
/* // CART */
.cartpg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Shop container */
.shop-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    clip-path: url(#toponebg);
    text-align: center;
}