:root{
    font-family: 'Merienda One', cursive; 
    font-size: 16px;
    height: 100vh;
    --text-primary: #f3d1d1;
    --text-secondary: #ececec;
    --bg-primary: #d4d4e4;
    --bg-secondary: #141418;
    --transition-speed: 600ms;

}
body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    
}


/* navigation bar */
.nav-bar{
    display: flex;
    /* margin-left: 5rem; */
    padding: .5rem;
    position: relative;
    background-color: var(--text-primary);
}

.nav-bar ul{
    display: flex;
    padding: 1rem;
    margin-left:3rem;
    justify-content: flex-end;
}

.nav-bar li{
 display: flex;
 margin-right: 1rem;
    
}

/* drop down */
.dropdown {
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translateX(-45%);
    background-color: var(--bg-primary);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  .dropdown p:hover{
      rotate: 5deg;
  }
/* Scroll up */
.page-up{
    display:flex;
    left: 100px;
}